/* Pallete = https://colorhunt.co/palette/5c7285818c78a7b49ee2e0c8 */

@font-face {
    font-family: "Coolvetica";
    src: 
    url(fonts/Coolvetica\ Rg.otf);
    font-style: normal;
  }

body {

    background-color:rgb(226, 224, 200);
    padding-left: 100px;
    padding-right: 100px;

}

h1 {
    font-family: "Coolvetica";
    font-style: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    
}

h2 {
  font-family: "Coolvetica";
  font-style: normal;
  color: rgb(0, 0, 0);
  letter-spacing: 1px;
  
}
h3 {
  font-family: "Coolvetica";
  font-style: normal;
  color: rgb(0, 0, 0);
  letter-spacing: 2px;
  
}
h4 {
  font-family: "Coolvetica";
  font-style: normal;
  color: rgb(0, 0, 0);
  letter-spacing: 3px;
  
}
