/* Pallete = https://colorhunt.co/palette/5c7285818c78a7b49ee2e0c8 */

@font-face {
    font-family: "Coolvetica";
    src: 
    url(fonts/Coolvetica\ Rg.otf);
    font-style: normal;
  }
@font-face {
    font-family: "Coolvetica";
    src: 
    url(fonts/Coolvetica\ Rg\ It.otf);
    font-style: italic;
  }


body {

    background-color:rgb(92, 114, 133);
    padding-left: 50px;
    padding-right: 70px;

}

h1 {
    font-family: "Coolvetica";
    font-style: normal;
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    
}